@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.running-horses {
  width: 100vw;
  height: 500px;
  background-image: url("/horses-silhouette-wide-trans.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  z-index: 0;
  pointer-events: none;
  
  /* Break out of container */
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -40px;
  margin-left: -50vw;
  margin-right: -50vw;
  opacity: 0.35;
}

@media (max-width: 768px) {
  .running-horses {
    height: 300px;
  }
}